body { font-family: Arial; margin: 0; padding: 0; }
header { background: #111; color: #fff; padding: 20px; display: flex; justify-content: space-between; }
nav a { color: white; margin-left: 20px; }
.chart-block { width: 200px; display: inline-block; margin: 20px; text-align: center; }
button { margin-left: 10px; }
